@media (max-width: 640px) {
  .rbc-toolbar {
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem;
  }

  .rbc-time-header-cell,
  .rbc-day-slot .rbc-time-slot-group {
    font-size: 0.75rem;
  }

  .rbc-time-content>.rbc-time-slot-group>.rbc-time-slot {
    min-height: 1.5rem;
  }
}

.rbc-calendar {
  height: auto !important;
}

.rbc-today {
  background-color: transparent !important;
}

.rbc-time-slot {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold !important;
}

.react-date-picker__wrapper {
  background: var(--bg-carousel);
  border: 1px solid var(--primary);
  border-radius: 6px;
  padding: 0.25rem;
}

.react-calendar {
  border: none;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.rbc-toolbar .rbc-toolbar-label {
  font-weight: 700;
}

.rbc-current-time-indicator {
  display: none !important;
}

.rbc-allday-cell {
  display: none;
}

.rbc-time-view .rbc-header {
  border-bottom: none;
}

.rbc-event-label {
  display: none !important;
}

.rbc-events-container {
  width: 100%;
}

.rbc-event,
.rbc-event-content {
  display: flex !important;
  text-align: center !important;
  align-items: center !important;
  justify-content: center !important;
}

.rbc-header {
  width: auto !important;
  height: auto !important;
}

.rbc-time-header>.rbc-row>.rbc-time-header-cell:nth-child(n+2) {
  flex: 0 0 80px !important;
  max-width: 80px !important;
  padding: 0.25rem !important;
}

.rbc-time-header .rbc-time-header-content .rbc-row.rbc-time-header-cell .rbc-header.rbc-today {
  background-color: var(--primary) !important;
  color: var(--button-home-primary-text)
}

.rbc-disabled-day {
  background-color: var(--button-home-disabled) !important;
}

.rbc-time-header .rbc-time-header-cell.rbc-disabled-day.rbc-today .rbc-header {
  background-color: var(--primary) !important;
  color: var(--button-home-primary-text) !important;
}

.custom-calendar {
  background-color: var(--accent);
  border: 1px solid var(--primary);
  color: black;
}

.rbc-time-view .rbc-slot-selection {
  display: none !important;
}