input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid var(--button-home-disabled);
  border-radius: 0.5rem; 
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

select {
  border: 1px solid var(--button-home-disabled);
  border-radius: 0.5rem; 
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

input:focus {
  outline: none;
  border-color: var(--primary);
}